@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron box-1">
    <h1 class="display-4" style="padding-top:120px">Welcome</h1>
    <p class="lead">I used asp.Net framework to build this app and Bootstrap for styling</p>
</div>


<article style="margin-top:210px;">
    <div class="container">
        <h1 class="display-2 text-center" style="font-family: 'Niconne', cursive; margin-bottom: 80px; color:darkgrey; text-shadow:11px 10px 12px;">
            Sales Articles
        </h1>
        <div class="row">
            <div class="col-md-4 text-center" style="padding-top: 70px">
                <h2>Our Inventory</h2>
                <p class="card-body">
                    @Html.ActionLink("Cars", "Cars") <br />
                    @Html.ActionLink("Trucks", "Trucks") <br />
                    @Html.ActionLink("Bikes", "Bikes")
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img src="./assets/listings.jpg" width="90%" height="310px" alt="Alternate Text" />
            </div>
            <div class="col-md-4 text-center" style="padding-top: 70px">
                <h2>Our Sales Force</h2>
                <p class="card-body">
                    @Html.ActionLink("Sales", "Sales") <br />
                    @Html.ActionLink("Agents", "Agents") <br />
                    @Html.ActionLink("Reviews", "Reviews")
                </p>
            </div>
        </div>
    </div>
</article>

<div class="brand text-center" style="background-color:white; margin-top:190px; margin-bottom: 190px;">
    <h1 class="display-4 text-center">All Major Companies</h1>
    <img src="https://tse1.mm.bing.net/th?id=OIP.7zE0FSzeF1sz-8_t_IkQIgHaHa&w=112&h=110&c=8&rs=1&qlt=90&pid=3.1&rm=2" width="40px" height="40px;" alt="Alternate Text" />
    <img src="https://tse1.mm.bing.net/th?id=OIP.VMLyYO9MOrqTICP8FhTsowHaG8&w=98&h=97&c=8&rs=1&qlt=90&pid=3.1&rm=2" width="40px" height="40px;" alt="Alternate Text" />
    <img src="https://tse1.mm.bing.net/th?id=OIP.lD2TFJbz03MCxzde3jRPlgHaHZ&w=92&h=97&c=8&rs=1&qlt=90&pid=3.1&rm=2" width="40px" height="40px;" alt="Alternate Text" />
    <img src="https://tse1.mm.bing.net/th?id=OIP.R6JNrlHEDF6nnfmcrQlenAHaE0&w=140&h=97&c=8&rs=1&qlt=90&pid=3.1&rm=2" width="40px" height="40px;" alt="Alternate Text" />
</div>

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="margin-top: 40px; clear: both;">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./assets/bike-photo.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./assets/trucks.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./assets/race-car.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

